<h1>Professional Skills</h1>

<ul>
  <li>
    <h2>Programming Languages</h2>
    <ul>
      <li>
        Java, JavaScript, C++, C#, PHP, Python, JavaScript, Visual Basic, Smalltalk
      </li>
    </ul>
  </li>
  <li>
    <h2>Frameworks, APIs, Libraries</h2>
    <ul>
      <li>
        Java EE (EJB, JMS, Servlets, JSP, JSF)
      <li>
        Spring, Spring-Data, Spring Security
      </li>
      <li class="gl_SimpleList">
        ORM (JPA, Hibernate, EclipseLink)
      </li>
      <li class="gl_SimpleList">
        Web Services, SOAP, REST, WSDL, BPEL
      </li>
      <li class="gl_SimpleList">
        Swing, AWT, JDBC, Rhino
      </li>
      <li class="gl_SimpleList">
        Win32 API, MFC, COM, ActiveX, ATL
      </li>
      <li class="gl_SimpleList">
        .NET, ADO.NET, Entity Framework
      </li>
    </ul>
  </li>
  <li>
    <h2>Web Technologies</h2>
    <ul>
      <li>
        AJAX, XML, XHTML/ HTML, CSS, JSON
      </li>
    </ul>
  </li>
  <li>
    <h2> Web &amp; Application Server</h2>
    <ul>
      <li>
        GlassFish, Apache HTTP Server, Tomcat, Jetty
      </li>
      <li class="gl_SimpleList">
        Oracle Fusion Middleware (WebLogic, SOA Suite)
      </li>
      <li class="gl_SimpleList">
        Internet Information Services (IIS)
      </li>
    </ul>
  </li>
  <li>
    <h2>Databases</h2>
    <ul>
      <li>
        Oracle, MS SQL Server, PostgreSQL, MySQL
      </li>
    </ul>
  </li>
  <li>
    <h2>Tools, IDEs</h2>
    <ul>
      <li>
        Eclipse, Netbeans, JDeveloper, MyEclipse, Microsoft Visual Studio
      </li>
      <li class="gl_SimpleList">
        Microsoft Visio, Enterprise Architect
      </li>
      <li class="gl_SimpleList">
        Subversion, Visual Source Safe
      </li>
      <li class="gl_SimpleList">
        Maven, JIRA, Hudson, Archiva, Sventon
      </li>
    </ul>
  </li>
  <li>
    <h2>Operating Systems</h2>
    <ul>
      <li>
        Windows (NT, 2000, XP, Vista, 7)
      </li>
      <li class="gl_SimpleList">
        Linux (CentOS, Ubuntu, Maemo)
      </li>
    </ul>
  </li>
  <li>
    <h2>Geospatial Software and APIs</h2>
    <ul>
      <li>
        ESRI ArcGIS, ArcObjects, ArcIMS, ArcGIS Server/ArcSDE
      </li>
      <li class="gl_SimpleList">
        Geoserver, OpenLayers, PostGIS
      </li>
      <li class="gl_SimpleList">
        Google Maps API
      </li>
      <li class="gl_SimpleList">
        Ovi Maps Player API, Ovi Navigation Player API, Ovi SDK
      </li>
      <li class="gl_SimpleList">
        DWGdirect, DGNdirect
      </li>
    </ul>
  </li>
  <li>
    <h2>Software Engineering</h2>
    <ul>
      <li>
        OOP, OOD and OOP, UML, Pattern
      </li>
    </ul>
  </li>
  <li>
    <h2>Methodologies</h2>
    <ul>
      <li>
        Agile development, Continuous Integration, SCRUM, Traditional Waterfall
      </li>
    </ul>
  </li>
</ul>