node_modules
dist
.tmp
.sass-cache
app/bower_components
/nbproject/
/.idea
/*.iml
/app/lib/angular/angular-csp.css
/app/lib/angular/bower.json
/app/lib/angular/README.md
/app/lib/angular/.bower.json
/app/lib/angular/angular.min.js.gzip
/app/lib/angular/angular.min.js.map
/app/lib/jquery/src
/app/lib/jquery/.bower.json
/app/lib/jquery/bower.json
/app/lib/jquery/MIT-LICENSE.txt
/app/lib/angular-route/README.md
/app/lib/angular-route/.bower.json
/app/lib/angular-route/angular-route.min.js.map
/app/lib/angular-route/bower.json
