<h1>Projects</h1>

<ul>
  <li ng-repeat="project in projects">
    <span class="project-title">{{project.title}}</span>,
    <a class="project-link" href="{{project.client.link}}" target="_blank">{{project.client.name}}</a>
    <br/>
    {{project.period}}
    <div class="project-technology-toggle"
       ng-click="project.visible=!project.visible">more...</div>
    <ul class="project-description" ng-show="project.visible">
      <li>
        <div class="project-description-text">{{project.description}}</div>
        <div class="project-description-link" ng-repeat="link in project.links">
          <a href="{{link.href}}" target="_blank"> {{link.title}} </a>
          <span ng-show="!$last"> | </span>
        </div>
      </li>
    </ul>
  </li>
</ul>
