<h1>Résumé</h1>

<ul>
  <li>
    <h2>Employment</h2>
    <ul>
      <li>
        <i>Senior Software Engineer, <a href="http://www.unisys.ch">Unisys Switzerland</a></i>
        <div class="period">11/2009 - present</div>
      </li>
      <li>
        <i>Senior Software Engineer, <a href="http://www.tieto.com">Tieto Deutschland GmbH</a> </i>
        <div class="period">08/2008 - 09/2009</div>
      </li>
      <li>
        <i>Software Engineer, <a href="http://www.arc-greenlab.de/">ARC-GREENLAB GmbH</a></i>
        <div class="period">03/2004 - 07/2008</div>
      </li>
      <li>
        <i>Flash Developer, <a href="http://www.spiegel.de/">DER SPIEGEL</a> (Intern)</i>
        <div class="period">03/2001 - 07/2001</div>
      </li>
    </ul>
  </li>
  <li>
    <h2>Education</h2>
    <ul>
      <li>
        <i>Master of Computer Science, Software Engineering, 2009</i>
        <div class="period">
          10/2006 - 04/2009, <a href="http://www.fernuni-hagen.de/english">Hagen University</a> (Distance Learning University), Germany
        </div>
      </li>
      <li>
        <i>Diplom-Ingenieur (FH), Geoinformatics and Cartography, 2005</i>
        <div class="period">
          10/1999 - 03/2005, <a href="http://www.hs-karlsruhe.de">University of Applied Sciences Karlsruhe</a>, Germany
        </div>
        <div class="period">
          10/2001 - 06/2002, <a href="http://www.msu.ru/en/">Lomonosov Moscow State University</a>, Russia
        </div>
      </li>
    </ul>
  </li>
</ul>